html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}


.dashboard-page {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; 
}


.header {
  background-color: #282828;
  padding: 10px 20px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.market-status span {
  margin-right: 15px;
  font-weight: bold;
}

.dashboard-container {
  display: flex;
  flex-grow: 1; 
  margin-top: 20px;
}

.sidebar {
  width: 25%;
  background-color: #2b2b2b;
  padding: 15px;
  border-radius: 10px;
}

.search-bar {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
}

.stocks-list {
  list-style: none;
  padding: 0;
}

.stock-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #333;
  border-radius: 5px;
  font-size: 14px;
}

.stock-item .gain {
  color: #00c9a7;
}

.stock-item .loss {
  color: #ff6b6b;
}

.main-dashboard {
  width: 75%;
  padding: 15px;
  margin-left: 20px;
  background-color: #2b2b2b;
  border-radius: 10px;
}

.nav-menu {
  background-color: #282828;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.nav-options {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.nav-item {
  color: #ccc;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-item.active {
  color: #000;
  font-weight: bold;
}

.nav-item:hover {
  background-color: #555;
  color: #fff;
}

.market-overview-section {
  background-color: #333;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.market-overview-section h3 {
  margin-bottom: 15px;
  color: #fff;
}
.summary-section{
  display: flex;
  padding-bottom: 20px;
}
.commodity{
  margin-left: 20px;
}
.commodity, .equity{
  width: max-content;
  width: 500%; 
  display: inline-block; 
  text-align: center;
}
.holdings-section,
.equity,
.commodity {
  background-color: #333;
  padding: 15px;
  border-radius: 5px;
}

.holdings-section h3,
.equity h3,
.commodity h3 {
  margin-bottom: 15px;
}

.chart-bar {
  height: 20px;
  background-color: #555;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}

.chart-bar .current-value {
  height: 100%;
  background-color: #00c9a7;
  text-align: right;
  padding-right: 5px;
  line-height: 20px;
  color: #000;
}

.investment {
  font-size: 14px;
  color: #ccc;
}
