.positions-page {
    background-color: #2b2b2b;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
  }
  
  .positions-page h2 {
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  .positions-page p {
    font-size: 16px;
    color: #ccc;
  }
  